.App {
  text-align: center;
}

.board {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-item {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 10px;
  border: 0.7px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  font: 20px;
  margin: 10px 0;
}

.task-item:hover {
  background-attachment: lightgray;
}

.btns {
  width: 200px;
  padding: 15px;
  background-color: lightblue;
  color: black;
  font-size: 18px;
  font-weight: 500px;
  cursor: pointer;
}

.btns:hover {
  background-color: aquamarine;
}

input {
  width: 250px;
  height: 35px;
  font-size: 20px;
  padding: 5px;
}

.btn {
  width: 70px;
  height: 70px;
  padding: 5px;
}
.btn:hover {
  background-color: purple;
  cursor: poiner;
  border-radius: 50%;
}

.todo-col {
  background-color: beige;
  padding: 10px 0px;
}
.doing-col {
  background-color: lightblue;
  padding: 10px 0px;
}
.done-col {
  background-color: lightgreen;
  padding: 10px 0px;
}
.todo {
  width: 33%;
  height: 400px;
}
.doing {
  width: 33%;
  height: 400px;
}
.done {
  width: 33%;
  height: 400px;
}
